html {
	background: #1e1e1e
}

body {
	font-family: "Cormorant Garamond", serif;
	color: #676767
}

header {
	display: flex;
	padding: 15px 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	align-items: center;
	height: 40px;
	background: #1e1e1e;
}

#logo {
	flex: 1 0 auto;
}

#logo a {
	color: #656565;
	text-decoration: none;
}

header h3 {
	flex: 1 1 auto;
	text-align: right;
}

nav {
	position: fixed;
	top: 80px;
	left: 0;
	bottom: 0;
	width: 160px;
	padding: 10px 20px 0;
}

.Nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.Nav span, .Nav a {
	color: #a7a7a7;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	word-wrap: break-word;
	transition-property: color;
	transition-duration: 0.5s;
}

.Nav ul div {
	margin: 0.5em 0 0;
	padding: 0 0 0 10px;
}

.Nav li {
	line-height: 1.2;
	padding: 0 0 10px;
}

#photos {
	display: flex;
	margin-left: 200px;
	padding-top: 80px;
	padding-right: 20px;
	flex-wrap: wrap;
}

#photos img {
	width: 200px;
	height: auto;
	margin: 5px;
}

#photos p {
	font-weight: bold;
}
